// // Slider "urodzeni aby wygrywać"
// img.uk-cover {
//     max-height: 971px;
// }

// h2.heading-slider {
//     // font-size: 110px;
//     font-size: 6vw;
//     color: white;
//     font-family: "Franklin Gothic Heavy";
//     color: transparent;
//     -webkit-text-stroke-width: 0.3px;
//     -webkit-text-stroke-color: white;
//     text-align: left;
//     font-weight: bolder;
//     padding: 0;
//     margin: 0;
// }

// p.subheading-slider {
//     // font-size: 110px;
//     font-size: 6vw;
//     color: #ffffff;
//     font-family: "Franklin Gothic Heavy";
//     font-weight: bolder;
//     margin: 0;
//     padding: 0;
// }

// div.description-content {
//     width: 20vw;
//     margin-left: 10px;
//     padding: 0;
//     text-align: left;
//     font-size: 1vw;
//     line-height: 2vw;
//     color: #ffffff;
//     font-family: "Franklin Gothic Book";
// }

// div.description-line {
//     width: 5vw;
//     border-top: 1px solid white;
//     line-height: 0.1em;
//     margin-top: 1vw;
//     margin-right: 2vw;
// }
// div.button {
//     background-color:#ff5b46;
//     width: 3vw;
//     height: 3vw;
//     border-radius:50%;
//     &:hover{
//        background-color:#fb4229;
//     }
// }
// div.box.uk-margin-small-top{
//     position:relative;
//     margin-left:8vw;
// }
// div.link{
//     font-family:"Franklin Gothic Demo";
//     font-size:1vw;
//     position: absolute;
//     width: 100%;
//     top: 50%;
//     left: 50%;
//     transform: translate(-46%, -50%);
//     &:hover{
//         text-decoration: underline;
//         cursor:pointer;
//      }
// }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.row {
    display: flex;
    flex-wrap: wrap;
    // padding: 0 27px;
    // align-items: center;
}

/* Create four equal columns that sits next to each other */
// .column {
//   flex: 50%;
//   max-width: 50%;
//   padding: 0 4px;
// }

// .column img {
// margin-top: 27px;
// vertical-align: middle;
// object-fit:cover;
// }

.column-1 {
    flex: 1;
    max-width: 440px;
    // padding: 0 27px;
    max-height: 800px;
    padding-right: 27px;
    .one {
        min-height: 800px;
        vertical-align: middle;
        object-fit: cover;
    }
}

.column-2 {
    flex: 2;
    max-width: 891px;
    max-height: 800px;
    margin: 0;
    .two {
        max-height: 440px;
        vertical-align: middle;
        object-fit: cover;
    }
    .three {
        padding-top: 27px;
        max-height: 360px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 1024px) and (min-width: 761px) {
    .column-1 {
        flex: 1;
        max-width: 440px;
        padding-right: 27px;
        max-height: 800px;
        min-height: 555px;
        .one {
            // min-height: 555px;
            vertical-align: middle;
            object-fit: cover;
            // max-height: 800px;
            height: 100%;
        }
    }
    .column-2 {
        flex: 2;
        max-width: 891px;
        max-height: 800px;
        margin: 0;
        .two {
        //    height: 440px;
            vertical-align: middle;
            object-fit: cover;
            height: 60%;
        }
        .three {
            // padding-top: 27px;
            // max-height: 360px;
            vertical-align: middle;
            object-fit: cover;
            height: 40%;
        }
    }
}
@media screen and (max-width: 760px) and (min-width: 551px) {
    .column-1 {
        flex: 100%;
        max-height: 467px;
        max-width: 760px;
        padding: 0 27px;
        .one {
            min-width: 440px;
            max-height: 330px;
            min-height: 0;
            object-fit: cover;
        }
    }
    .column-2 {
        flex: 100%;
        max-height: 467px;
        padding: 0 27px;
        margin-top: 27px;

        .two {
            // max-width: 440px;
            min-height: 330px;
            object-fit: cover;
        }
        .three {
            // max-width: 440px;
            min-height: 330px;
            object-fit: cover;
        }
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 550px) {
    .column-1 {
        flex: 100%;
        max-height: 467px;
        padding: 0 27px;
        max-width: 550px;
        .one {
            // min-width: 440px;
            max-height: 330px;
            min-height: 0;
            object-fit: cover;
        }
    }
    .column-2 {
        flex: 100%;
        max-height: 467px;
        padding: 0 27px;
        margin-top: 27px;
        .two {
            // max-width: 440px;
            min-height: 330px;
            object-fit: cover;
        }
        .three {
            // max-width: 440px;
            min-height: 330px;
            object-fit: cover;
            // margin-top:27px;
        }
    }
}
